<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="discountCode">
            <h2><span>Discount Code</span> {{discountCode.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{discountCode.code}}</span>
                </dd>
                <dt><span>Discount</span></dt>
                <dd>
                    <span>{{discountCode.discount}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/discount-code', discountCode.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
